<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover">
<%- include("./commons/favicons") %>
<% if(conf.app.name === null){ %>
<title>「<%= query %>」の検索結果 - <%= serverData.app.name %></title>
<% }else{ %>
<title>「<%= query %>」の検索結果 - <%= conf.app.name %></title>
<% } %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/vui-main.css">
<link rel="stylesheet" href="/stylesheets/small.css" media="screen and (max-width:874px)">
<link rel="stylesheet" href="/stylesheets/medium.css" media="screen and (min-width:875px) and (max-width:1349px)">
<link rel="stylesheet" href="/stylesheets/wide.css" media="screen and (min-width:1350px)">
<!--twitter-->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@natsukilab">
<meta name="twitter:title" content="<%= conf.app.name %>">
<meta name="twitter:description" content="お気に入りのエッチな動画作品を探しませんか？">
<meta name="twitter:image" content="<%= conf.app.url %>images/ogp.jpg">
</head>
<body>
<%- include("./commons/header",{path:"search",title:'動画検索'}) %>
<%- include("./commons/sidebar",{path:"search"}) %>
<div class="vui-main">
<%- include("./commons/sort",{path:"search"}) %>
<div class="vui-videos">
<%
if(videos !== null){
videos.items.forEach(function(video){
%>
<a href="<%= process.env.app_url %>watch/<%= video.item.productid %>" class="vui-video-image">
<img src="<%= video.item.posterimage[2].large %>">
<span class="vui-video-image-title"><%= video.item.title %></span>
</a>
<% })}else{ %>
お探しの動画は見つかりませんでした
<% } %>
</div>
<div class="vui-pagination">
<% if(page > 1){ %>
<a class="vui-btn-navi" href="/search?q=<%= query %>&page=<%= Number(page) - 1 %>">
<span class="material-icons left-icon">arrow_back_ios</span>
前のページ
</a>
<% }else{ %>
<a></a>
<% } %>
<% if(page < max_page){ %>
<% var next_page = page + 1; %>
<a class="vui-btn-navi" href="/search?q=<%= query %>&page=<%= Number(page) + 1 %>">
次のページ
<span class="material-icons right-icon">arrow_forward_ios</span>
</a>
<% }else{ %>
<a></a>
<% } %>
</div>
<div class="vui-divider"></div>
<div class="ad728 vui-small-display-none">
<ins class="widget-banner"></ins><script class="widget-banner-script" src="https://widget-view.dmm.co.jp/js/banner_placement.js?affiliate_id=utamita-007&banner_id=72_728_90"></script>
</div>
</div>
<%- include("./commons/footer",{path:"search"}) %>
</body>
</html>